// AMBIENTE
.ambiente {
  .container-fluid {
    padding: 0;
  }
  .itens {
    display: flex;
    flex-wrap: wrap;
    .item {
      padding: 6rem 3rem 5rem 4rem;
      width: 50%;
      @include tablet {
        width: 100%;
      }
      @include celular {
        padding: 4rem 1rem 0 1rem;
      }
      .titulo {
        font-size: 2.6rem;
        @include tablet {
          font-size: 2.4rem;
        }
        @include celular {
          font-size: 1.8rem;
        }
      }
      .texto {
        margin-top: 2rem;
        line-height: 140%;
        text-align: justify;
        width: 95%;
      }
    }
    #carouselAmbiente {
      width: 50%;
      @include tablet {
        width: 100%;
        margin-top: 2rem;
      }
      .carousel-item {
        img {
          width: 100%;
          height: 761px;
          object-fit: cover;
          @include celular {
            height: 300px;
          }
        }
      }
      .carousel-control-prev {
        left: -22%;
        @include tablet {
          left: 82%;
        }
        @include celular {
          left: 75%;
        }
      }
      .carousel-control-next {
        right: 112%;
        transform: rotate(180deg);
        @include tablet {
          right: 6%;
        }
      }
      .carousel-control-prev,
      .carousel-control-next {
        height: max-content;
        width: max-content;
        top: 90%;
        opacity: 1;
        @include celular {
          top: 86%;
        }
      }
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        background: url('../icons/seta-azul.png');
        background-size: 100%;
        padding: 12px;
        @include celular {
          padding: 10px;
        }
      }
    }
  }
}
