// CONTATO
.contato {
  background: #777777;
  padding: 6rem 0;
  .titulo {
    font-family: $titulo;
    text-transform: capitalize;
    font-size: 2.2rem;
    color: #fff;
    @include celular {
      font-size: 1.8rem;
    }
  }
  .texto {
    color: #fff;
    margin-top: 1rem;
    font-size: 1.1rem;
    width: 420px;
    @include celular {
      font-size: 0.8rem;
      width: 100%;
    }
  }
  .linha {
    display: flex;
    justify-content: space-between;
    @include celular {
      flex-wrap: wrap;
    }
  }
  .formulario {
    margin-top: 2rem;
    width: 40%;
    @include tablet {
      width: 48%;
    }
    @include celular {
      width: 100%;
    }
    span {
      color: rgba(#fff, 0.6);
      text-transform: uppercase;
      @include celular {
        font-size: 0.9rem;
      }
    }
    input {
      height: 38px;
    }
    textarea {
      height: 210px;
    }
    .campo {
      margin-top: 1rem;
    }
    .area-botao {
      margin-top: 2rem;
      .botao {
        padding: 10px 30px 8px 30px;
        background: #35199c;
        font-size: 1.1rem;
      }
    }
  }
  .info-contato {
    @include tablet {
      width: 48%;
    }
    @include celular {
      width: 100%;
    }
    .item {
      display: flex;
      align-items: flex-start;
      margin-top: 4rem;
      img {
        @include celular {
          width: 40px;
          height: 40px;
          object-fit: contain;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        line-height: 200%;
        margin-left: 1rem;
        .titulo {
          font-family: $texto;
          font-size: 1.6rem;
        }
        .texto {
          margin: 0;
        }
        a {
          font-family: $titulo;
          color: #fff;
          font-size: 1.5rem;
        }
      }
      &:nth-child(2) {
        a {
          color: #35199c;
          font-size: 1rem;
          text-transform: uppercase;
        }
      }
      &:nth-child(3) {
        a {
          font-family: $texto;
          font-size: 1.1rem;
        }
      }
    }
  }
}
