// ESPECIALIDADES E DIFERENCIAIS
.especialidade-diferenciais {
  background: #fff;
  padding: 6rem 0;
  .titulo {
    font-family: $titulo;
    text-transform: none;
    font-size: 2.2rem;
    text-align: center;
    color: #000;
    @include celular {
      font-size: 1.8rem;
    }
  }
  .itens {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20%;
      margin-top: 4rem;
      @include tablet {
        width: 50%;
      }
      @include celular {
        width: 100%;
      }
      img {
        width: 94px;
        height: 90px;
        object-fit: contain;
      }
      .texto {
        width: 198px;
        text-align: center;
        font-size: 1.2rem;
        margin-top: 1.5rem;
        line-height: 120%;
        @include celular {
          font-size: 1rem;
        }
        span {
          font-family: $titulo;
        }
      }
    }
  }
  .linha {
    display: flex;
    align-items: center;
    width: max-content;
    margin: 4rem auto auto auto;
    @include celular {
      flex-direction: column;
    }
    .area-botao {
      margin-right: 4rem;
      @include celular {
        margin: auto auto 1rem auto;
      }
      .botao {
        font-size: 1.4rem;
        padding: 10px 25px 8px 28px;
        background: #2db92f;
      }
    }
    .vamos-conversar {
      a {
        p {
          line-height: 150%;
          span {
            font-size: 1.66rem;
          }
        }
      }
    }
  }
}
