// ESTRUTURA
.estrutura {
  .container-fluid {
    padding: 0;
    .carousel-indicators {
      width: max-content;
      margin-right: 5%;
      margin-left: auto;
      li {
        width: 17px;
        height: 17px;
        border-radius: 100%;
        background: rgba(160, 199, 207, 0.8);
        margin-right: 8px;
        margin-left: 8px;
      }
      .active {
        background: rgb(52, 25, 154);
      }
    }
    .carousel-item {
      .faixa {
        background: rgba(#fff, 0.4);
        position: absolute;
        width: 100%;
        top: 8%;
        padding: 1rem 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include celular {
          padding: 1rem 1rem;
        }
        .titulo-faixa {
          .titulo {
            color: rgb(71, 33, 212);
            font-family: $titulo;
            text-transform: capitalize;
            font-size: 3rem;
            @include tablet {
              font-size: 2rem;
            }
            @include celular {
              font-size: 1.4rem;
            }
          }
        }
        .texto-faixa {
          .texto {
            color: rgb(71, 33, 212);
            font-size: 1.6rem;
            font-style: italic;
            font-family: $titulo;
            @include tablet {
              font-size: 1.2rem;
            }
            @include celular {
              font-size: 1rem;
            }
          }
        }
      }
      img {
        width: 100%;
        @include celular {
          height: 280px;
          object-fit: cover;
        }
      }
    }
    .carousel-control-prev,
    .carousel-control-next {
      display: none;
    }
  }
}
