* {
  &::selection {
    background: rgba(#4721d4, 0.4);
    color: #fff;
  }
  img {
    &::selection {
      background: transparent;
    }
  }
}
html {
  overflow-x: hidden;
  @include celular {
    overflow-x: hidden;
  }
  ::-webkit-scrollbar-track {
    background-color: #fff;
  }
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background: #000;
  }
}
body {
  overflow-x: hidden;
  font-family: $texto;
}
a {
  text-decoration: none !important;
}

.botao {
  cursor: pointer;
  transition: 0.2s;
  outline: 0 !important;
  text-transform: uppercase;
  border: none;
  font-size: 0.85rem;
  padding: 10px 20px 8px 20px;
  display: flex;
  align-items: center;
  width: max-content;
}

.botao-principal {
  background: #4fb3d1;
  color: #fff;
  transition: 0.4s !important;
  &:hover {
    color: #fff;
  }
}

input,
textarea {
  width: 100%;
  height: 34px;
  padding: 0 15px;
  color: #313131;
  border: none;
  outline: 0 !important;
  transition: 0.4s;
  background: #f1f1f1;
}
textarea {
  height: 100px;
  padding-top: 12px;
}
p {
  margin-bottom: 0;
}
.titulo {
  margin-bottom: 0;
  text-transform: uppercase;
}
.texto {
  line-height: 150%;
  @include desktop {
    font-size: 0.9em;
  }
  @include celular {
    font-size: 0.8em;
  }
}

.vamos-conversar {
  a {
    display: flex;
    align-items: center;
    p {
      display: flex;
      flex-direction: column;
      margin-left: 0.6rem;
      color: #000;
      font-size: 1rem;
      line-height: 140%;
      font-family: $texto;
      font-weight: 400;
      span {
        font-size: 1.28rem;
        font-family: $titulo;
      }
    }
  }
}

.jazzz {
  // background-color: $cor-principal;
  text-align: center;
  padding: 2rem 0;
  img {
    width: 50px;
  }
}
