// HEADER
.header {
  // CABECALHO
  .cabecalho {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem 0;
    background: #fff;
    z-index: 99;
    transition: 0.2s;
    .linha {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        img {
          // width: 270px;
          transition: 0.3s;
          @include celular {
            width: 200px !important;
          }
        }
      }
      .links {
        @include tablet {
          display: none;
        }
        .link {
          color: #000;
          font-weight: 400;
          margin-left: 2rem;
          font-family: $texto;
          font-weight: 800;
          font-size: 0.95rem;
          &:first-child {
            margin: 0;
          }
        }
      }
      .redes-sociais {
        @include tablet {
          display: none;
        }
        img {
          &:first-child {
            margin-right: 1rem;
          }
        }
      }
      .textura {
        position: absolute;
        top: 0px;
        right: 18.5%;
        @include celular {
          right: 16.5%;
        }
        img {
          width: 90%;
          @include celular {
            width: 70%;
          }
        }
      }
      .vamos-conversar {
        @include celular {
          display: none;
        }
      }
      // MENU MOBILE
      .menu-mobile {
        display: none;
        z-index: 99;
        @include tablet {
          display: block;
        }
        .linha1,
        .linha2,
        .linha3 {
          height: 3px;
          width: 24px;
          border-radius: 30px;
          background: #000;
          margin: 0.2rem;
          transition: 0.2s;
          position: relative;
        }
        .linha1-efct {
          transform: rotate(-45deg);
          bottom: -6px;
        }
        .linha2-efct {
          opacity: 0;
        }
        .linha3-efct {
          transform: rotate(45deg);
          top: -7px;
        }
        .menu-mobile-layer {
          display: none;
          background: #fff;
          position: absolute;
          left: 0;
          top: 0;
          height: 100vh;
          width: 0;
          transition: 1s;
          z-index: -1;
          overflow: hidden;
          @include tablet {
            display: block;
          }
          .links-mobile {
            width: max-content;
            display: flex;
            flex-direction: column;
            padding: 6rem 2rem;
            .link-mobile {
              color: #000;
              font-size: 2rem;
              margin-top: 1rem;
              &:first-child {
                margin-top: 0;
              }
            }
          }
          .redes-sociais {
            display: block;
            padding: 0rem 2rem;
            width: max-content;
          }
        }
        .menu-mobile-layer-efct {
          width: 100%;
        }
      }
    }
  }
  // BANNER
  .banner {
    height: 100vh;
    background: url('../imgs/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    @include celular {
      background-size: cover;
      background-position: -50vw center;
      background-attachment: scroll;
    }
    .chamada {
      display: flex;
      align-items: center;
      margin: 8rem 0 0 0;
      .info {
        width: 37%;
        margin: 0 4rem 0 auto;
        @include tablet {
          width: 100%;
        }
        .titulo {
          color: #434343;
          text-transform: uppercase;
          font-family: $titulo;
          font-size: 2.8rem;
          @include tablet {
            font-size: 2rem;
          }
        }
        .area-botao {
          margin-top: 2rem;
          .botao {
            img {
              width: 10px;
              margin: -2px 0 0 15px;
            }
          }
        }
      }
      .formulario {
        background: #fff;
        padding: 1rem;
        width: 315px;
        @include celular {
          display: none;
        }
        .titulo {
          font-family: $titulo;
          color: rgb(71, 33, 212);
          font-size: 1.3rem;
        }
        .texto {
          font-size: 0.85rem;
          margin-top: 0.5rem;
        }
        form {
          input,
          textarea {
            margin-top: 1rem;
          }
        }
        .area-botao {
          width: max-content;
          margin: 0.5rem auto auto auto;
          .botao {
            background: rgb(52, 25, 154);
            padding: 12px 22px 9px 22px;
          }
        }
        .vamos-conversar {
          width: max-content;
          margin: 1rem auto auto auto;
          text-align: center;
          background: rgb(38, 165, 61);
          padding: 1rem;
          a {
            p {
              color: #fff;
              span {
                font-size: 1.6rem;
              }
            }
          }
        }
      }
    }
    .seta-nav {
      background: rgba(#fff, 0.2);
      padding: 20px 21px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 76px;
      bottom: 30px;
      transition: 0.4s;
      @include celular {
        padding: 10px 11px;
        left: 44%;
      }
      &:hover {
        transform: translateY(6px);
      }
      img {
        width: 26px;
        @include celular {
          width: 20px;
        }
      }
    }
  }
}
