// LOCALIZACAO
.localizacao {
  background: url('../imgs/local.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: -360px 50px;
  height: 90vh;
  @include tablet {
    background-attachment: inherit;
    background-position: -360px center;
    height: auto;
  }
  @include celular {
    background-position: -445px center;
    background-size: cover;
  }
  .texto {
    color: #fff;
    font-size: 2.8rem;
    text-transform: uppercase;
    text-align: center;
    &:first-child {
      font-size: 2rem;
      width: 630px;
      margin: auto;
      padding-top: 4rem;
      @include tablet {
        font-size: 1.4rem;
      }
      @include celular {
        width: 100%;
        padding-top: 2rem;
        font-size: 1.2rem;
      }
    }
    &:nth-child(2) {
      font-family: $titulo;
      font-size: 2.8rem;
      width: 645px;
      margin: 13rem auto auto auto;
      line-height: 140%;
      @include tablet {
        font-size: 2rem;
        padding-bottom: 3rem;
      }
      @include celular {
        width: 100%;
        padding-bottom: 2rem;
        font-size: 1.4rem;
        line-height: 120%;
      }
      span {
        font-family: $texto;
        font-size: 2rem;
        @include celular {
          font-size: 1rem;
        }
      }
    }
  }
}
