@font-face {
  font-family: 'HurmeGeometricSans3-regular';
  src: url('../fontes/HurmeGeometricSans3.otf');
}
@font-face {
  font-family: 'HurmeGeometricSans3-bold';
  src: url('../fontes/HurmeGeometricSans3\ Bold.otf');
}

$titulo: 'HurmeGeometricSans3-bold', sans-serif;
$texto: 'HurmeGeometricSans3-regular', sans-serif;
