// MODAL
.modal {
  .modal-content {
    border: none;
    border-radius: 0px;
    .modal-header {
      .modal-title {
        font-size: 1.2em;
        margin: 20px;
        font-weight: bolder;
        text-align: center;
      }
    }
    .form-modal {
      text-align: center;
      input {
        width: 90%;
        border-radius: 5px;
        border: none;
        color: #fff;
        outline: 0;
      }
    }
    .modal-dialog {
      max-width: 50% !important;
      margin: 7.75rem auto !important;
    }
    .modal-header,
    .modal-footer {
      border: none;
      margin: 0 auto;
    }
    .close {
      display: none;
    }
    .botao {
      padding: 6px 36px 6px 36px;
    }
  }
}

// MODAL EXAMES LABORATORIAIS
#examesLaboratoriais {
  .modal-header {
    .modal-title {
      font-family: $titulo;
      color: #35199c;
      font-size: 1.4rem;
    }
  }
  .modal-body {
    padding: 1rem 4rem;
  }
  .modal-footer {
    margin: 1rem auto;
    .botao-principal {
      background: #35199c;
      padding: 10px 36px 6px 36px;
    }
  }
}
