// RODAPE
.rodape {
  .assinatura {
    background: #646464;
    padding: 2rem 0;
    .itens {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .item {
        p {
          color: rgba(#fff, 0.4);
          font-size: 1.1rem;
          @include celular {
            font-size: 0.8rem;
          }
        }
        img {
          @include celular {
            width: 40px;
          }
        }
      }
    }
  }
}
