// SERVICOS
.servicos {
  background: #e2e2e2;
  padding: 6rem 0;
  .titulo {
    font-family: $titulo;
    text-transform: none;
    font-size: 2.2rem;
    color: #000;
    @include celular {
      font-size: 1.8rem;
    }
  }
  .itens {
    margin-top: 4rem;
    .item {
      display: flex;
      justify-content: space-between;
      background: #fff;
      margin-top: 2rem;
      @include tablet {
        flex-direction: column;
      }
      .info {
        background: #fff;
        padding: 3rem;
        border-left: 12px solid rgb(52, 25, 154);
        @include celular {
          padding: 2rem 1rem;
        }
        .titulo-item {
          margin-bottom: 2rem;
          font-family: $titulo;
          text-transform: none;
          font-size: 2.2rem;
          color: #000;
          @include celular {
            font-size: 1.8rem;
          }
        }
        p.titulo {
          text-transform: uppercase;
          font-size: 1.8rem;
          color: rgb(52, 25, 154);
          @include celular {
            font-size: 1.4rem;
          }
        }
        .texto-corrido {
          font-size: 1.4rem;
        }
        .texto {
          font-size: 1.8rem;
          text-transform: uppercase;
          @include celular {
            font-size: 1.2rem;
          }
          span {
            font-size: 1rem;
            @include celular {
              font-size: 0.8rem;
            }
          }
        }
        .texto-alt {
          font-size: 1.2rem;
          text-transform: uppercase;
          margin-top: 2rem;
          @include celular {
            font-size: 0.9rem;
          }
        }
      }
      img {
        width: 460px;
        height: 332px;
        object-fit: cover;
        @include tablet {
          width: 100%;
          border-left: 12px solid #341a9a;
        }
        @include celular {
          height: 250px;
        }
      }
      .linha {
        flex-wrap: wrap;
        margin: 0rem;
        flex-direction: column;
        .texto-corrido {
          width: 100%;
          margin-top: 1rem;
        }
        .link-modal {
          cursor: pointer;
          span {
            color: #34199a;
            font-size: 2rem;
            transition: 0.4s;
            position: relative;
            top: 4px;
          }
        }
      }
    }
  }
  .linha {
    display: flex;
    align-items: center;
    width: max-content;
    margin: 4rem auto auto auto;
    @include celular {
      flex-direction: column;
    }
    .area-botao {
      margin-right: 4rem;
      @include celular {
        margin: auto auto 1rem auto;
      }
      .botao {
        font-size: 1.4rem;
        padding: 10px 25px 8px 28px;
        background: #2db92f;
      }
    }
    .vamos-conversar {
      a {
        p {
          line-height: 150%;
          span {
            font-size: 1.66rem;
          }
        }
      }
    }
  }
}
